@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Poppins-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Poppins-Light.ttf") format("opentype");
}
body {
  font-family: "Poppins Light", sans-serif;
  color: #555555;
  background-color: #FFFFFF;
}
@media (min-width: 576px) {
  body {
    background-color: #f4f4f4;
  }
}

.col-fondo {
  padding: 10px;
  background-color: #FFFFFF;
}
@media (min-width: 576px) {
  .col-fondo {
    padding: 0;
  }
}
@media (min-width: 576px) {
  .col-fondo {
    border: 4px solid #FFFFFF;
    border-radius: 1rem;
  }
}

.menu-header {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  width: 96%;
  text-align: center;
  margin: 0 auto 10px;
  background-image: url("../img/rayonAzul.png");
  background-position: center;
  background-size: cover;
}
@media (min-width: 576px) {
  .menu-header {
    width: 97%;
  }
}
.menu-header a {
  color: #495057;
}

.text-center {
  border: 1px solid red;
  height: 95px;
  margin-top: 10%;
}
.text-center .image-child {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
@media (min-width: 567px) {
  .text-center {
    height: 110px;
    margin-top: 3%;
    text-align: center !important;
  }
}

@media (min-width: 567px) {
  .move-form {
    margin-top: 2%;
  }
}

h5 .nopadding .icon-align {
  float: left;
  color: #346187;
}

.title-collapse {
  float: left;
  margin-left: 3%;
  margin-top: 0.5%;
  color: #524846;
}

.nopadding {
  padding: 1% 7% 1% 3% !important;
  margin: 0 !important;
}

.card-header .fa {
  transition: 0.3s transform ease-in-out;
}

.card-header .collapsed .fa {
  transform: rotate(-90deg);
}

.accordion-align {
  width: 96%;
  margin-left: 2%;
}

.form-row > [class*=col-8] {
  padding-right: 15px;
  padding-left: 15px;
}

.footer-design {
  background-color: #2c2d32;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 96%;
  margin-left: 2%;
}
.footer-design li a {
  color: #ffffff;
}

.modal-width {
  width: 100%;
}

.underline:hover {
  text-decoration: none;
}

.modal-content {
  height: 250px !important;
  background-color: white !important;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.contenido {
  padding: 15px 0 0;
}
.contenido button {
  width: 100%;
  margin: 0 auto 5px;
}
.contenido button i {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 5px 2px;
}
.contenido button span {
  margin-left: 5px;
  font-size: 14px;
  font-family: "Poppins Light", sans-serif;
}
.contenido img {
  margin-bottom: 15px;
}
.contenido .form-group {
  margin: 0 auto 20px;
}
.contenido .form-group label {
  font-size: 14px;
  margin: 5px auto 0;
}
.contenido .form-group input {
  margin: 2px auto 0;
  font-size: 14px;
  color: #555555;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: .3rem;
  padding: 6px 2px;
}
.contenido .form-group:last-child {
  text-align: center;
}
.contenido .btn-ingresar {
  margin: 0px 0 0;
  color: 000000;
  background-color: #8fe2d9;
}
.contenido .login-ingresar-con {
  font-size: 12px;
  line-height: 1.5;
  display: block;
  padding: 6px;
  margin: 0 auto 10px;
  text-align: center;
}
.contenido .login-forgot-pwd {
  font-size: 12px;
  color: #5BA9FF;
  text-align: center;
  line-height: 1.5;
}

.menu-home {
  margin-left: 13px;
}
.menu-home li {
  background-position: center;
  background-size: cover;
}

#calendario .menu-vista-calendario {
  margin: 0px auto 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  width: 96%;
}
@media (min-width: 576px) {
  #calendario .menu-vista-calendario {
    width: 97%;
  }
}
#calendario .menu-vista-calendario .fc-group-titulo {
  margin: 3px auto;
}
#calendario .menu-vista-calendario .fc-group-titulo h2 {
  font-size: 18px;
  display: inline;
  margin: 0 0 0 12px;
}
#calendario .menu-vista-calendario .fc-group-titulo .fc-prevYear-button, #calendario .menu-vista-calendario .fc-group-titulo .fc-nextYear-button {
  font-size: 14px;
  width: 5%;
  float: none;
}
#calendario .menu-vista-calendario .fc-left {
  float: left;
}
#calendario .menu-vista-calendario .fc-right {
  float: right;
}
#calendario .menu-vista-calendario .fc-center .btn-group {
  font-size: 12px;
  padding: 0;
  margin: 0 20%;
}
@media (min-width: 576px) {
  #calendario .menu-vista-calendario .fc-center .btn-group {
    margin: 0 50%;
  }
}
#calendario .menu-vista-calendario .fc-center .btn-group button {
  margin: 6px auto;
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#calendario .menu-vista-calendario button {
  background-color: transparent !important;
}
#calendario .fc-view-container {
  border: 1px solid #8fe2d9;
  width: 96%;
  margin: 0 auto;
  border-radius: 4px;
}
@media (min-width: 576px) {
  #calendario .fc-view-container {
    width: 97%;
  }
}
#calendario .fc-view-container th .fc-day-header, #calendario .fc-view-container th .fc-day-top, #calendario .fc-view-container td .fc-day-header, #calendario .fc-view-container td .fc-day-top {
  font-size: 12px;
}

/*
@import 'modules/ie';
@import 'modules/print';
@import 'modules/screen';*/
