@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Poppins-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Poppins-Light.ttf") format("opentype");
}
body {
  font-family: "Poppins Light", sans-serif;
  color: #555555;
  background-color: #FFFFFF;
}
@media (min-width: 576px) {
  body {
    background-color: #f4f4f4;
  }
}

.col-fondo {
  padding: 10px;
  background-color: #FFFFFF;
}
@media (min-width: 576px) {
  .col-fondo {
    padding: 0px;
  }
}
@media (min-width: 576px) {
  .col-fondo {
    border: 4px solid #FFFFFF;
    border-radius: 1rem;
  }
}

.menu-header {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  width: 96%;
  text-align: center;
  margin: 0 auto 10px;
  background-color: rgba(0, 0, 0, 0.125);
}
@media (min-width: 576px) {
  .menu-header {
    width: 97%;
  }
}
.menu-header a {
  color: #495057;
}

.contenido {
  padding: 15px 0 0;
}
.contenido button {
  width: 100%;
  margin: 0 auto 5px;
}
.contenido button i {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 5px 2px;
}
.contenido button span {
  margin-left: 5px;
  font-size: 14px;
  font-family: "Poppins Light", sans-serif;
}
.contenido img {
  margin-bottom: 15px;
}
.contenido .form-group {
  margin: 0 auto 20px;
}
.contenido .form-group label {
  font-size: 14px;
  margin: 5px auto 0;
}
.contenido .form-group input {
  margin: 2px auto 0;
  font-size: 14px;
  color: #555555;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: .3rem;
  padding: 6px 2px;
}
.contenido .form-group:last-child {
  text-align: center;
}
.contenido .btn-ingresar {
  margin: 0px 0 0;
  color: 000000;
  background-color: #8fe2d9;
}
.contenido .login-ingresar-con {
  font-size: 12px;
  line-height: 1.5;
  display: block;
  padding: 6px;
  margin: 0 auto 10px;
  text-align: center;
}
.contenido .login-forgot-pwd {
  font-size: 12px;
  color: #5BA9FF;
  text-align: center;
  line-height: 1.5;
}

.menu-home {
  margin-left: 13px;
}

.menu-vista-calendario {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  width: 96%;
  text-align: center;
  margin: -8px auto 0px;
  background-color: rgba(0, 0, 0, 0.125);
}
@media (min-width: 576px) {
  .menu-vista-calendario {
    width: 97%;
  }
}
.menu-vista-calendario a {
  color: #495057;
}
.menu-vista-calendario .menu-hamburguesa {
  margin: 7px 0 0;
}

#calendario {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  width: 96%;
  text-align: center;
  margin: 2px auto 0px;
}
@media (min-width: 576px) {
  #calendario {
    width: 97%;
  }
}
#calendario .fc-header-toolbar h2 {
  font-size: 14px;
}
#calendario .fc-header-toolbar button {
  border: 1px solid sandybrown;
  background: transparent !important;
  box-shadow: none;
  width: none;
  font-size: 14px;
}
#calendario .fc-header-toolbar button:hover {
  background: transparent !important;
  box-shadow: none;
}
#calendario .fc-view-container {
  border: 2px solid yellow;
}

/*
@import 'modules/ie';
@import 'modules/print';
@import 'modules/screen';*/
