body {
  font-family: $font-primario;
  color: $color-negro;
  background-color: $color-blanco;
  @media (min-width: 576px) {
    background-color: $color-md-fondo;
  }
}

.col-fondo {
  padding: 10px;
  @media (min-width: 576px) {
    padding: 0;
  }
  background-color: $color-blanco;
  @media (min-width: 576px) {
    border: 4px solid $color-blanco;
    border-radius: 1rem;
  }
}

.menu-header {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  width: 96%;
  @media (min-width: 576px) {
    width: 97%;
  }
  text-align: center;
  margin: 0 auto 10px;
  background-image: url("../img/rayonAzul.png");
  background-position: center;
  background-size: cover;

  a {
    color: #495057;
  }

  .menu-header-icono {
    i {}
  }

  .menu-header-titulo {}
}

.text-center {
  height: 120px;
  // border: 1px solid red;
  padding: 2px 2px 2px 2px;
  margin-top: 3%;

  .rounded-circle {
    background-position: center;
    height: 90%;
    margin-top: 11%;
    margin-left: 4%;
    width: 90%;
  }
  @media (min-width: 768px) {
    height: 150px;
    margin-top: -1%;
  }
}

.image-child {
  border-radius: 65%;
  width: 90%;
  height: 90%;
}

  .move-form {
    @media(min-width: 567px) {
      margin-top: 2%;
    }
  }

.icon-align {
  float: left;
  color: #346187;
}

.title-collapse {
  float: left;
  margin-left: 3%;
  margin-top: 0.5%;
  color: #524846;
}

.nopadding {
   padding: 0% !important;
   margin: 0 !important;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(-90deg);
}
