.menu-home{
    margin-left: 13px;

    li{
        background-position: center;
        background-size: cover;
    }
    
    .menu-item{

        &.item-datos-estaticos{
            
            span{

            }
        }
        &.item-vista-calendario-por-eventos{
            span{
                
            }
        }
        &.item-graficas{
            span{
                
            }
        }
        &.item-consejos{
            span{
                
            }
        }
        &.item-alergias{
            span{
                
            }
        }
    }
}                                    

