#calendario{ 
    .menu-vista-calendario{ 
        margin: 0px auto 5px;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 4px;
        width: 96%;
        @media (min-width: 576px){
            width: 97%;
        }    
        .fc-group-titulo{    
            margin: 3px auto;       
            h2{
                font-size: 18px;
                display: inline;
                margin: 0 0 0 12px;
            }
            .fc-prevYear-button, .fc-nextYear-button{               
               font-size: 14px;
               width: 5%;
               float: none;
            }
        }
        .fc-left{
            float: left;
        }
        .fc-right{
            float: right;
        }
        .fc-center{
            .btn-group{                
                font-size: 12px;
                padding: 0;
                margin: 0 20%;
                @media (min-width: 576px){
                    margin: 0 50%;
                }
                button{
                    margin: 6px auto;
                    padding: 2px 8px;                    
                    border-radius: 4px;
                    border:1px solid  rgba(0,0,0,.125);
                }
            }
        }
        button{
            background-color: transparent !important;
        }


    }
    .fc-view-container{
        border:1px solid $color-primario;
        width: 96%;        
        margin: 0 auto;    
        border-radius: 4px;       
        @media (min-width: 576px){
            width: 97%;
        }   
        th,td{         
            .fc-day-header,.fc-day-top{
                font-size: 12px;
            }
        }
    }

}




  